.carousel-item img {
  height: 1000px;
  object-fit: cover;
  transition: all 0.3s ease;
}

.carousel-item img:hover {
  scale: 1;
}

.carousel-caption {
  bottom: 40%;
  right: 60%;
  text-align: left;
  width: 40%;
}

.carousel-caption h5 {
  font-size: 3.5rem;
  letter-spacing: 2px;
  margin-top: 1.5rem;
}

.carousel-caption p {
  font-size: 1rem;
  letter-spacing: 2px;
}

.home_button {
  margin-top: 1rem;
  position: relative;
  display: inline-block;
  padding: 0.6rem 1.5rem;
  border: 2px solid #eee;
  color: #eee;
  background: transparent !important;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 3px;
  transition: all 0.3s ease;
}

.home_button:hover {
  color: #eee;
  opacity: 0.7;
  border: 2px solid yellow;
  border-radius: 15px;
}

@media screen and (max-width: 990px) {
  .carousel-item img {
    height: 800px;
    object-fit: cover;
  }

  .carousel-caption h5 {
    font-size: 2.25rem;
    letter-spacing: 2px;
    margin-top: 1.5rem;
  }

  .carousel-caption p {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .home_button {
    padding: 0.5rem 1rem;
    font-size: 0.6rem;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 768px) {
  .carousel-item img {
    height: 800px;
    object-fit: cover;
  }

  .carousel-caption h5 {
    font-size: 2rem;
    letter-spacing: 2px;
    margin-top: 1.5rem;
  }

  .carousel-caption p {
    font-size: 0.9rem;
    letter-spacing: 1px;
  }

  .home_button {
    padding: 0.5rem 1rem;
    font-size: 0.5rem;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 412px) {
  .carousel-item img {
    height: 500px;
    object-fit: cover;
  }

  .carousel-caption h5 {
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-top: 1.5rem;
  }

  .carousel-caption p {
    display: none;
  }

  .home_button {
    padding: 0.5rem 1rem;
    font-size: 0.5rem;
    letter-spacing: 2px;
  }
}
