.navbar {
  padding-top: 1%;
}

@media screen and (min-width: 1025px) {
  .custom_container {
    padding: 0 5rem;
  }
}

.logo{
  color: #E62B34!important;
  font-size: 2.5rem;
}

.nav-item {
  margin-right: 3rem;
}

.nav-link {
  color: #eee!important;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: yellow!important;
  letter-spacing: 2px;
}

.navbar-nav {
  text-align: right;
}