@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
  font-family: 'Balsamiq Sans', cursive;
}

.button {
  margin-top: 4rem;
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
  color: #fff;
  background: transparent!important;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.6rem;
  letter-spacing: 3px;
  transition: all 0.3s ease;
}

.button:hover {
  color: #fff;
  opacity: 0.7;
  border: 2px solid yellow;
  border-radius: 15px;
}

@media screen and (max-width: 412px) {
  .button {
    margin-top: 4rem;
    position: relative;
    display: inline-block;
    padding: 0.4rem 0.8rem;
    border: 2px solid #fff;
    color: #fff;
    background: transparent!important;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.5rem;
    letter-spacing: 2px;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    color: #fff;
    opacity: 0.7;
    border: 2px solid yellow;
    border-radius: 15px;
  }
}