.card {
    border: none !important;
    cursor: pointer;
    overflow: hidden;
}

.card img {
    transition: transform .9s ease;
}

.card img:hover {
    transform: scale(1.1);
}

.card-img-overlay {
    margin-top: 32%;
    display: flex;
    transition: transform .5s ease;
}

.card-img-overlay:hover {
    transform: translate(0, -5px);
}

.coming_soon_details {
    margin-left: 0.5rem;
}

.coming_soon_info {
    display: flex;
    justify-content: space-between;
}

.coming_soon_title {
    color: #eee;
    text-transform: capitalize;
    cursor: pointer;
}

.coming_soon_info p{
    text-transform: uppercase;
    font-size: 0.65rem;
    color: #E62B34;
    cursor: pointer;
}

.coming_soon_info p:hover {
   text-decoration: underline;
}

.bi-play-circle {
    cursor: pointer;
}